@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <h1 class="display-4">Editar contato</h1>
</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Digite o nome do contato">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o email do contato">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Celular</label>
        <input type="text" asp-for="Cellphone" class="form-control" placeholder="Digite o celular do contato">
        @Html.ValidationMessageFor(x => x.Cellphone)
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-2">Alterar</button>
    <a class="btn btn-secondary w-100" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>